<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<logger name="org.springframework.web" level="DEBUG" />

	<property name="pattern"
		value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>icechat.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>${pattern}</Pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>

</configuration>